.benefits {
  width: 1220px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 120px 0 120px;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1220px;
    width: 95%;
  }

  @media (max-width: $tablet-width) {
    width: 87%;
    padding: 80px 0 78px;
  }

  @media (min-width: $mobile-benefits) and (max-width: $mobile-width) {
    width: 78%;
  }

  @media (max-width: $mobile-width) {
    padding: 49px 0;
    width: 85%;
  }
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.benefits__line {
  width: 5px;
  height: 100%;
  background-color: #00b2ff;
  display: block;
  position: absolute;
  left: 0;
}

.benefits__item-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #00b2ff;
  margin: 20px 0 17px 0;

  @media (max-width: $tablet-width) {
    line-height: 34px;
    margin: 9px 0 6px;

    &--price {
      margin: 4px 0 4px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 28px;

    margin: 5px 0 9px;

    &--detective {
      margin: 5px 0 16px;
    }

    &--price {
      margin: 5px 0 16px;
    }
  }
}

.benefits__item {
  position: relative;
  max-width: 595px;
  min-height: 300px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  flex-grow: 1;
  flex-wrap: wrap;
  display: table;
  padding: 0 0 20px 45px;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 47%;
    padding: 0 4% 20px;
  }

  @media (max-width: $tablet-width) {
    max-width: 47.5%;
    min-height: 360px;
    padding-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 47.5%;
    min-height: 340px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 100%;

    &--detective {
      min-height: 325px;
    }

    &--price {
      min-height: 325px;
    }
  }
}

.benefits__item:hover,
.benefits__item:hover p,
.benefits__item:hover h3,
.benefits__item:hover svg {
  background-color: #00b2ff;
  color: #f2f5f6;
  fill: #f2f5f6;
}

.benefits__item:active {
  opacity: 0.9;
}

.benefits__item p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;
  margin: 0;
  max-width: 510px;

  @media (max-width: $tablet-width) {
    width: auto;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }
}

.benefits__icon {
  margin-top: 40px;

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}
