.main-nav {
  display: flex;
  background: linear-gradient(180deg, #041827 85%, #04182700 100%);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0 35px 0;

  @media (max-width: $tablet-width) {
    min-height: 100px;
    position: absolute;
    padding: 20px 25px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    padding: 15px 20px;
    min-height: 70px;
  }
}

.main-nav__icon-user {
  position: absolute;
  right: 265px;
  top: 32px;
}

.main-nav__list {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.main-nav__list ul {
  display: flex;
  list-style-type: none;
  padding: 0 0 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  column-gap: 122px;
  min-width: 465px;
  max-width: 465px;
  align-items: center;
  row-gap: 10px;

  @media (max-width: $tablet-width) {
    column-gap: 40px;
    display: contents;
  }
}

.main-nav__toggle {
  width: 160px;
  min-height: 40px;
  background-color: #041827;
  border: 1px solid #f2f5f6;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  margin-right: 60px;
  padding: 10px 0;
  margin-top: -7px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover {
  opacity: 0.7;
}

.main-nav__toggle:active {
  opacity: 0.5;
}

.main-nav__toggle span {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
}

.main-nav__link-user {
  display: flex;
}

.main-nav__contacts {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #f2f5f7;
  padding-left: 15px;
  margin-top: 3px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  align-self: center;
}

.main-nav__item:hover {
  opacity: 0.7;
}

.main-nav__item:active {
  opacity: 0.5;
}

.main-nav__container {
  width: 1220px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1220px;
    width: 95%;
  }

  @media (max-width: $tablet-width) {
    width: 87%;
    position: relative;
    flex-direction: row-reverse;
    align-self: center;
  }

  @media (max-width: $mobile-width) {
    width: 80%;
  }
}

.main-nav__list-contacts {
  display: flex;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    margin: 0;
    width: 90px;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 78px;
    padding-bottom: 10px;
  }
}

.main-nav__phone-call {
  @media (max-width: $tablet-width) {
    margin-right: 8px;
  }

  @media (max-width: $mobile-width) {
    margin-right: -3px;
  }
}

