.main-nav {
  display: flex;
  align-items: center;
  min-height: 120px;
  background: linear-gradient(180deg, #041827 85%, #04182700 100%);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: $tablet-width) {
    min-height: 100px;
    position: absolute;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    min-height: 70px;
  }
}

.main-nav__icon-user {
  position: absolute;
  right: 265px;
  top: 32px;
}

.main-nav__list {
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
  column-gap: 122px;
}

.main-nav__toggle {
  width: 160px;
  min-height: 40px;
  background-color: #041827;
  border: 1px solid #f2f5f6;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover {
  opacity: 0.7;
}

.main-nav__toggle:active {
  opacity: 0.5;
}

.main-nav__toggle span {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
}

.main-nav__link-user span {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #f2f5f7;
  padding-left: 35px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__email {
  top: 13px;
  position: absolute;

  @media (max-width: $tablet-width) {
    top: 8px;
    right: 90px;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
    right: 79px;
  }
}

.main-nav__icon-phone-call {
  top: 13px;
  position: absolute;

  @media (max-width: $tablet-width) {
    top: 8px;
    right: 29px;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
    right: 19px;
  }
}

.main-nav__item {
  &--contacts {
    margin-top: 9px;
  }

  &--button {
    position: absolute;
    right: 61px;
    top: 2px;

    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      right: 0;
    }
  }
}

.main-nav__user {
  margin-left: 37px;
  margin-top: 8px;

  @media (min-width: $desktop-resize) and (max-width: $desktop-max) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    margin-left: -40px;
  }
}

.main-nav__item:hover {
  opacity: 0.7;
}

.main-nav__item:active {
  opacity: 0.5;
}

.main-nav__container {
  width: 1220px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1220px;
    width: 95%;
  }

  @media (max-width: $tablet-width) {
    width: 87%;
  }

  @media (max-width: $mobile-width) {
    width: 84%;
  }
}
