.product__wrapper {
  width: 1220px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-top: 70px;
  padding-bottom: 140px;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1220px;
    width: 95%;
  }

  @media (max-width: $tablet-width) {
    width: 87%;
    padding-top: 58px;
    padding-bottom: 76px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 88px;
    padding-top: 47px;
    width: 85%;
  }
}

.product {
  background-color: #041827;
}

.product__title-default {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    padding-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__title-mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    margin: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    padding-bottom: 27px;
    color: #ffffff;
  }
}

.product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 75px;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    column-gap: 7%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 30px;
  }
}

.product__card-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 40px;
  margin: 0;
  width: 210px;
  top: 48px;
  position: absolute;

  @media (max-width: $tablet-width) {
    top: 38px;
    padding-left: 44px;

    &--montage {
      width: 185px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    left: -13px;
    top: 27px;

    &--montage {
      width: 164px;
    }

    &--set {
      width: 180px;
    }
  }
}

.product__card {
  position: relative;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    width: 28.5%;
  }
}

.product__card :hover {
  opacity: 0.9;
}

.product__card:active {
  opacity: 0.7;
}

.product__card::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 3px;
  background: #00b2ff url("../img/svg/arrow.svg") center no-repeat;
  pointer-events: none;

  @media (max-width: $mobile-width) {
    height: 40px;
    width: 40px;
    background: #00b2ff url("../img/svg/arrow-mobile.svg") center no-repeat;
  }
}

.product__card-img img {
  @media (max-width: $tablet-width) {
    height: 250px;
    vertical-align: bottom;
    object-fit: cover;
  }
}
