.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__svg {
  margin-left: 10px;

  @media (max-width: $tablet-width) {
    margin-left: 8px;
    margin-bottom: 10px;

    &--vk {
      padding-left: 3px;
    }

    &--pinterest {
      padding-left: 5px;
    }
  }

  @media (max-width: $mobile-width) {
    &--classmates {
      margin-left: 0;
      margin-top: 2px;
    }
  }
}

.social__svg:hover {
  opacity: 0.9;
}

.social__svg:active {
  opacity: 0.7;
}
